// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  color: red
}

h2 {
  text-decoration: blue;
  font-size: 20px;
}

form {
  border-radius: 50%
}

.coach_answer {
  border-left: red
}
